---
layout: defaultPage
---
<div class="post">

  <section class="sidebar">
    <h4>GETTING STARTED</h4>
    <ul>
      <li><a href="{{ '/getting-started/' | prepend: site.baseurl }}#quick-start">Quick Start</a></li>
      <li><a href="{{ '/getting-started/' | prepend: site.baseurl }}#developer-tools">Developer Tools</a></li>
      <li><a href="{{ '/getting-started/' | prepend: site.baseurl }}#creating-an-application">Creating an application</a></li>
    </ul>
    <!-- <br> -->
    <!-- <h4>API DOCS</h4> -->
    <!-- <ul> -->
    <!--   <li><a href="{{ '/docs/' | prepend: site.baseurl }}#core&#45;library">Core Library</a></li> -->
    <!--   <li><a href="{{ '/docs/' | prepend: site.baseurl }}#api">API</a></li> -->
    <!-- </ul> -->
  </section>

  <article class="post-content">
    {{ content }}
  </article>

</div>
